@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
@import "./variables.scss";

body {
  color: #2d3436;
  font-family: "Roboto";
}

.header {
  background-color: #ddd;
  // background-image: url("../../images/header.png");
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 200px;
  display: flex;
  align-items: center;
}

#pagePreview .pagePreview__container {
  transform: scale(0.9);
  height: 600px;
  overflow: auto;
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px #000;
}

.btn-primary {
  background-color: $accent;
  border-color: $accent;
  &:hover,
  &:active,
  &:visited {
    background-color: $accent-hover !important;
    border-color: $accent-hover !important;
  }
}

hr {
  border-top: 1px solid #000;
}
