@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500);
img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
body,
html {
  font-family: Open Sans, sans-serif;
  color: #7c7778;
}
#pagePreview {
  font-size: 0.5em;
}
#pagePreview .pagePreview__container {
  transform: scale(0.9);
  height: 600px;
  overflow: auto;
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px #000;
}
/* #pagePreview .header__bg .row {
  padding: 1.875em;
} */
#pagePreview .header__bg h2 {
  margin-bottom: 1.25em;
  font-weight: 100;
  font-size: 2.25em;
}
#pagePreview .header__title {
  padding: 4.063em;
}
#pagePreview .lead {
  font-size: 2em;
}
#pagePreview .content__left {
  font-size: 1em;
  padding-top: 3em;
  line-height: 1.75;
}
#pagePreview .content__left h3 {
  font-size: 1.170em ;
  letter-spacing: 0.192em;
  line-height: 1.5;
}
#pagePreview .content__left h3 {
  margin-top: 1em;
}
#pagePreview .content__left ul li {
  font-size: 1em;
  margin-bottom: 1.563em;
}
#pagePreview .content__copy ul > li:before, 
#pagePreview .content__left ul > li:before {
  top: 0px;
}
#pagePreview .content__right h2 {
  font-size: 1.313em;
  line-height: 1.2;
  letter-spacing: 0.263em;
  margin-bottom: 1.875em;
  margin-top: 1.875em;
}
#pagePreview .partnerlogo {
  margin-bottom: 1.875em;
}
#pagePreview .placeholderHTML {
  width: 100%;
  height: 100%;
  background: #ccc;
  display: flex;
  justify-content: center;
  padding-top: 15rem;
  font-size: 4em;
}
.partnerlogo {
  width: 150px;
}
.partnerlogo-circle {
  width: 50px;
}
.header__bg {
  background-color: #022735;
}
.header__bg p.lead {
  font-size: 20px;
  color: #fff;
}
.header__color {
  padding: 75px 40px 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
}
.header__color-full {
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 100px;
}
.header__color-full h1 {
  max-width: 520px;
  text-align: center;
  font-size: 36px;
  font-weight: 300;
  line-height: 49px;
  color: #fff;
  margin-bottom: 15px;
}
.header__color-full h2 {
  max-width: 350px;
  text-align: center;
  font-size: 20px;
  line-height: 27px;
  font-weight: 300;
  color: #fff;
  margin-top: 0;
}
.header__c h1 {
  font-size: 36px;
  font-weight: 300;
  line-height: 49px;
  color: #fff;
  margin-bottom: 25px;
}
.header__c h2 {
  font-size: 20px;
  line-height: 27px;
  font-weight: 300;
  color: #fff;
  margin-top: 0;
}
.main__title {
  color: #fff;
  font-weight: 100;
  font-size: 36px;
  margin-bottom: 30px;
}
.main__lead {
  font-size: 20px;
  color: #fff;
}
.main__form {
  padding: 30px 50px;
  background-color: #f0f0f0;
}
.main__form p {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: #000;
}
.header__title {
  background-color: transparent;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 65px;
  border-bottom-right-radius: 10px;
}
.header__title h2,
.header__title img {
  margin-bottom: 30px;
}
.header__title h2 {
  color: #fff;
  font-weight: 100;
  font-size: 36px;
}
.color--hp {
  color: #405662 !important;
}
.header__assetimg-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.header__assetimg-wrap .assetthumb {
  max-width: 350px;
}
@media (max-width: 767px) {
  .header__assetimg-wrap {
    display: none;
  }
}
.content__copy,
.content__left {
  padding: 20px 60px;
  line-height: 25px;
  color: #000;
  font-size: 16px;
}
@media (max-width: 991px) {
  .content__copy,
  .content__left {
    padding: 15px;
  }
}
.content__copy h3,
.content__left h3 {
  color: #000;
  font-size: 1.17em;
  font-weight: 700;
  margin: 0;
  font-family: Open Sans;
}
.content__copy h4,
.content__left h4 {
  font-size: 16px;
  font-weight: 700;
  margin-top: 46px;
}
.content__copy ul,
.content__left ul {
  margin-top: 15px;
  margin-bottom: 45px;
  padding-left: 40px;
}
.content__copy li,
.content__left li {
  position: relative;
  list-style-type: none;
  margin-bottom: 25px;
  font-size: 14px;
}
.content__copy ul.regular li,
.content__left ul.regular li {
  list-style-type: disc;
}
.content__copy ul.regular li:before,
.content__left ul.regular li:before {
  content: none;
}
.content__copy ol > li,
.content__left ol > li {
  list-style-type: decimal;
  margin-bottom: 10px;
  margin-left: 15px;
  font-size: 16px;
}
.content__copy ul > li:before,
.content__left ul > li:before {
  content: "";
  position: absolute;
  display: block;
  left: -35px;
  top: 5px;
  width: 8px;
  height: 13px;
  border: solid #00a5d3;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.content__copy a,
.content__left a {
  text-decoration: none;
  color: #00a5d3;
}
.logo-partnerex {
  margin-top: 25px;
  max-width: 250px;
}
.content__asset {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}
.content__asset img {
  width: 360px;
  height: auto;
}
.content__right {
  border: 1px solid #e9e9e9;
  padding: 15px 25px;
  background-color: #eee;
  text-align: center;
}
.content__right h2 {
  color: #000;
  font-weight: 700;
  font-size: 16px;
}
.content__right p.lead {
  margin-top: 25px;
  color: #666;
  font-size: 20px;
}
.asset--multi {
  max-width: 1200px;
}
.asset--multi .banner {
  padding-top: 35px;
}
.asset--multi .banner img {
  width: 100%;
  height: auto;
}
.asset--multi header {
  background-color: #0483c7;
  padding: 25px 40px 30px;
  color: #fff;
  text-align: center;
  font-weight: 300;
}
.asset--multi header h1 {
  max-width: 700px;
  font-size: 60px;
  font-weight: 500;
  line-height: 80px;
  color: #fff !important;
  margin: 10px 0 0;
}
.asset--multi header h2 {
  max-width: 610px;
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  color: #fff !important;
  margin-left: 5px;
  margin-bottom: 20px;
}
.asset--multi header h3 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 500;
  color: #fff !important;
  max-width: 600px;
  margin-left: 5px;
}
.asset--multi nav {
  background-color: #eee;
  border-bottom: 3px solid #0483c7;
  margin-top: 5px;
  margin-left: 0;
  margin-right: 0;
  top: 0;
  left: 50%;
  z-index: 99;
  transform: translateX(-50%);
  width: 100% !important;
  max-width: 1200px;
  position: relative;
}
.asset--multi nav .nav--item {
  padding: 20px 40px;
  text-align: center;
  transition: background-color 0.3s;
  font-size: 18px;
  line-height: 24px;
  color: #000;
}
.asset--multi nav .nav--item:hover {
  cursor: pointer;
}
.asset--multi nav .nav--active,
.asset--multi nav .nav--item:hover {
  color: #fff;
  background-color: #0483c7;
}
.asset--multi-heading h2 {
  font-size: 26px;
  font-weight: 300;
  line-height: 36px;
  color: #000;
  margin-right: 20px;
}
.asset--multi-heading span {
  display: inline-block;
  -ms-flex: 1;
  flex: 1;
  height: 1px;
  background-color: #c4c4c4;
}
.asset--multi-row {
  padding: 35px 0;
}
.asset--multi-asset {
  color: #000;
  margin-bottom: 40px;
}
.asset--multi-asset > div {
  border: 1px solid #c4c4c4;
  border-bottom: 5px solid #0483c7;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}
.asset--multi-asset .padding--body {
  padding: 15px 20px 25px;
}
.asset--multi-asset img {
  width: 100%;
  height: auto;
}
.asset--multi-asset h4 {
  font-size: 24px;
  font-weight: 300;
  line-height: 31px;
  min-height: 62px;
  margin-bottom: 5px;
}
.asset--multi-asset p {
  font-size: 14px;
  line-height: 20px;
  margin: 15px 0;
  min-height: 60px;
}
.asset--multi-asset a {
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
}
.asset--multi-asset a span {
  width: 14px;
  height: 14px;
  position: relative;
  left: 5px;
  top: 1.5px;
  display: inline-block;
  background: url("https://edge.spiceworksstatic.com/service.client-interactive/content/shared/arrow@2x.png")
    no-repeat 50% / cover;
}
.asset--multi .button--nav {
  height: 53px;
  width: 233px;
  border-radius: 5px;
  background-color: #0483c7;
  color: #fff;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
  display: block;
  margin: 60px auto 40px;
}
.asset--multi .button--nav:hover {
  cursor: pointer;
}
.vidyard_wrapper {
  float: none !important;
}
.text-left {
  text-align: left;
}
.form-wrap {
  background-color: #f0f0f0;
}
.form-wrap h3 {
  margin: 20px 0;
  color: #002539;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
}
.page--3 h1 {
  font-size: 36px;
  line-height: 49px;
  margin: 120px 0 30px;
}
.page--3 h1,
.page--3 h2 {
  color: #000;
  font-family: Open Sans;
  font-weight: 300;
}
.page--3 h2 {
  font-size: 20px;
  line-height: 27px;
}
.page--3 ul {
  margin-top: 15px;
  margin-bottom: 45px;
  padding-left: 40px;
}
.page--3 li {
  position: relative;
  list-style-type: none;
  margin-bottom: 25px;
  font-size: 14px;
}
.page--3 ul.regular li {
  list-style-type: disc;
}
.page--3 ul.regular li:before {
  content: none;
}
.page--3 ul > li:before {
  content: "";
  position: absolute;
  display: block;
  left: -35px;
  top: 5px;
  width: 8px;
  height: 13px;
  border: solid #00a5d3;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.page--3 .header-row > div {
  padding: 20px 45px;
  min-height: 500px;
  background-color: #eee;
}
.page--3 .content {
  padding: 30px 0;
}
.page--3 .assets p {
  color: #000;
  font-family: Open Sans;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  max-width: 175px;
  margin: 20px auto;
}
.page--3 .assets img {
  width: 100%;
  max-width: 175px;
  height: auto;
  display: block;
  margin: auto;
}
.page--3 .copy li,
.page--3 .copy p {
  color: #000;
  font-family: Open Sans;
  font-size: 16px;
  line-height: 23px;
}
.page--3 .copy p {
  margin-top: 0;
  margin-bottom: 30px;
}
.asset-grid {
  padding: 35px 60px;
}
.asset-grid img {
  width: 225px;
  height: auto;
}
.asset-grid p {
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: #000;
}
.toolkit-iframe__height {
  height: 580px;
}
@media (max-width: 767px) {
  .toolkit-iframe__height {
    height: 1050px;
  }
}
.toolkit__header {
  padding: 3rem 2rem 4rem 3rem;
}
.toolkit__header h1,
.toolkit__header h2,
.toolkit__header h3 {
  color: #fff;
  font-weight: 400;
}
.toolkit__header h1 {
  font-size: 4em;
  line-height: 1.2;
}
@media (max-width: 767px) {
  .toolkit__header {
    background-image: none !important;
  }
  .toolkit__header h1 {
    font-size: 3em;
  }
}
.w-100 {
  width: 100%;
}
#thankyou-container {
  display: none;
}
#thankyou-container h3,
#thankyou-container p {
  text-align: center;
}
@media (max-width: 767px) {
  .content__asset {
    padding-top: 50px;
  }
}
